/* App.css */

.todo-container {
  max-width: 400px;
  margin: 10px;
  padding: 20px;
  background-color: rgb(114, 114, 131); 
  border-color: black; 
  
  border-radius: 2px;
}

.heading {
  text-align: center;
  color: white;
  padding: 10px;
}

.add-task {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.add-task input {
  padding: 8px;
  margin-bottom: 8px;
}

.add-task button { 
 align-items: flex-start;
  height: 40px;
  width: 50%;
  max-width: 200px;
  
  padding: 8px;
  cursor: pointer;
  background-color: rgb(117, 117, 172);
  color: white;
  border: 1px solid rgb(117, 117, 172);
}

.todo-item {
  position: relative;
  border: 1px solid #ccc;
  padding: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  color: white; 
  justify-content: space-between;
  background-color: rgb(117, 117, 172);
  display: flex;
  
  align-items: center;
}

.delete-icon,
.edit-icon {
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  margin-left: 5px;
  color: red; /* Set color of the delete icon to red */
}

.todo-item:hover .delete-icon,
.todo-item:hover .edit-icon {
  opacity: 1;
}
.button-con{
  align-items: flex-start; 
  margin-top: 0px;
}